<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="main_div">
        <form action="/login" method="post">
            <fieldset>
                <legend>
                    <h2> Login Page </h2>
                </legend>

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="E-mail" />
                <br><br>

                <label for="password">Password</label>
                <input type="text" name="password" id="password" placeholder="Password" />
                <br><br>
                <input type="submit" name="submit" value="submit" />
            </fieldset>
        </form>
    <br>
 <p>If you do not have  <a href="/registration">Create Account</a> </p>

    </div>
</body>
 

</html>